<div class="jumbotron text-center" style="padding-right:0px !important; padding-top:0px; margin-top:72px; padding-bottom:0px !important; padding-left:0px !important; background-image:url('assets/240_F_129947185_JR6lODvN9FxoCyzzsa7IJuBrtWFLu6o3.jpg'); background-repeat:no-repeat; background-size:100% 100%; color:white; border-radius:0px;">
  <div>
      <h1 style="font-size: 3em;">WELCOME TO BMS</h1>
      <!-- <h3 style="width:100%; background-color:rgba(0,0,0,0.5);">Where your dream comes true</h3> -->
  </div>
</div>

  <div class="container">
    <h1 class="h1">About Us</h1>
    <p>This is ought to develop for the people who want to sell and buy billboards among the wide range of people. Currently we are working in pakistan and planned to work for the foreign countries too.</p>
    <img class="img-fluid" src="assets/charts-share-fb-bb200.jpg"/>
    <p>Our future plane is to develop our network in many countries including UAE, USA, UK, SaudiArabia</p>
  </div>
  
