<div class="jumbotron text-center" style="padding-right:0px !important; padding-top:0px; margin-top:72px; padding-bottom:10px !important; padding-left:0px !important; background-image:url('assets/240_F_129947185_JR6lODvN9FxoCyzzsa7IJuBrtWFLu6o3.jpg'); background-repeat:no-repeat; background-size:100% 100%; color:white; border-radius:0px;">
    <div>
        <h1 style="font-size: 3em; margin:0px;">WELCOME TO BMS</h1>
        <h3 style="width:100%; background-color:rgba(0,0,0,0.5);">Where your dream comes true</h3>
    </div>
</div>





<!-- <section class="container p-t-3" style="margin-top:40px;">
    <div class="row">
        <div class="col-lg-12">
            <h2><span style="color: #25806E">BBMS</span> Featured Boards</h2>
        </div>
    </div>
</section>
<section class="carousel slide" data-ride="carousel" id="postsCarousel">
    <div class="container">
        <div class="row">
            <div class="col-12 text-right mb-4">
                <a class="btn btn-outline-secondary prev" style="margin-right:10px;" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="container p-t-0 m-t-2 carousel-inner">

        <div *ngFor="let features of arrFeaturedItemsActive" class="row row-equal carousel-item active m-t-0">
            <div *ngFor="let feature of features" class="col-md-4">
                <div class="card">
                    <div class="card-header header">
                        Featured
                    </div>
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid" src="assets/bbbimg.png" alt="Carousel 1">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title card-header">{{featureItems[feature].title}}</h5>
                        <p class="card-text">{{featureItems[feature].description}}</p>
                        <p class="card-text price">Rs. {{featureItems[feature].price}}</p>
                        <a href="#" class="btn btn-primary detail">Detail</a>

                    </div>
                </div>
            </div>
        </div>

        <div *ngFor="let features of arrFeaturedItems" class="row row-equal carousel-item m-t-0">
            <div *ngFor="let feature of features" class="col-md-4">
                <div class="card">
                    <div class="card-header header">
                        Featured
                    </div>
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid" src="assets/bbbimg.png" alt="Carousel 1">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title card-header">{{featureItems[feature].title}}</h5>
                        <p class="card-text">{{featureItems[feature].description}}</p>
                        <p class="card-text price">Rs. {{featureItems[feature].price}}</p>
                        <a href="#" class="btn btn-primary detail">Detail</a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>



<section class="container p-t-3" style="margin-top:30px;">
    <div class="row">
        <div class="col-lg-12">
            <h2><span style="color: #25806E">BBMS</span> Latest Boards</h2>
        </div>
    </div>
</section>
<section class="carousel slide" data-ride="carousel" id="postsCarousel">
    <div class="container">
        <div class="row">
            <div class="col-12 text-right mb-4">
                <a class="btn btn-outline-secondary prev" style="margin-right:10px;" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="container p-t-0 m-t-2 carousel-inner">

        <div *ngFor="let features of arrFeaturedItemsActive" class="row row-equal carousel-item active m-t-0">
            <div *ngFor="let feature of features" class="col-md-4">
                <div class="card">
                    <div class="card-header header">
                        Latest
                    </div>
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid" src="assets/bbbimg.png" alt="Carousel 1">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title card-header">{{featureItems[feature].title}}</h5>
                        <p class="card-text">{{featureItems[feature].description}}</p>
                        <p class="card-text price">Rs. {{featureItems[feature].price}}</p>
                        <a href="#" class="btn btn-primary detail">Detail</a>

                    </div>
                </div>
            </div>
        </div>

        <div *ngFor="let features of arrFeaturedItems" class="row row-equal carousel-item m-t-0">
            <div *ngFor="let feature of features" class="col-md-4">
                <div class="card">
                    <div class="card-header header">
                        Featured
                    </div>
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid" src="assets/bbbimg.png" alt="Carousel 1">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title card-header">{{featureItems[feature].title}}</h5>
                        <p class="card-text">{{featureItems[feature].description}}</p>
                        <p class="card-text price">Rs. {{featureItems[feature].price}}</p>
                        <a href="#" class="btn btn-primary detail">Detail</a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<br/>
<hr/> -->

<div class="row" style="width:95%; margin:auto;">
    <div *ngFor="let board of allBillBoards" style="margin-top:20px;" class="col-md-4">
        <div class="card content" (click)="goToDetail(board.id)">

            <div class="card-img-top card-img-top-250" style="height:200px !important;">
                <img class="img-fluid" style="width:100%; height: 100%;" [src]="board.image" alt="Carousel 1">
            </div>
            <div style="font-size:1.2em; font-weight: bold; text-align:center; color:white; background: #25806E" class="card-header">
                {{board.title | uppercase}}
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title" style="border-top:">{{board.title}}</h5> -->
                <!-- <p class="card-text">{{board.description}}</p> -->
                <p class="card-text">Location - {{board.address}}</p>
                <table class="table" style="text-align: center; padding:0px;">
                    <thead>
                        <th>
                            <div style ="text-align: left;">   
                                Size
                            </div>
                        </th>
                        <th>
                            <div>   
                                {{board.width}} x {{board.height}}
                            </div>
                        </th>

                    </thead>
                </table>
                <div style="width:100%;">
                    <p style="float:left;" class="card-text price">Rs. {{board.price}}</p>
                    <div style="float:right;">
                        <div style=" float:left; border-radius: 10px; width:10px; height:10px; margin-top:6px; margin-right: 6px;  background-color: #25806E;"></div>
                        <p style="float:right;">Available</p>
                    </div>
                </div>

            </div>
            <button style="width:30%; margin:auto; margin-top:0px;" class="bttn-fill bttn-md bttn-primary">Detail</button>

        </div>


    </div>

</div>