.customRating{
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 166px;
    /* left: 30px; */
    right:0;
    
  }
  .customRating h3{
    color:#25806E;
  }

  label {
      margin-bottom: 0px !important;
  }

  .starrating > input {
    display: none;
  } /* Remove radio buttons */
  
  .starrating > label:before {
    content: "\f005"; /* Star */
    margin: 0px 2px 0px 2px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
  }
  
  .starrating > label {
    color: #fff; /* Start color when not clicked */
  }

  .starrating > input:checked ~ label {
    color: #ffca08;
  } /* Set yellow color when star checked */
  
  /* .starrating > input:hover ~ label {
    color: #ffca08;
  } Set yellow color when star hover */
  

div, section {
     font-family: "Roboto", sans-serif;
  }

/* .post-slide{
    padding: 0 15px;
}
.demo
{
	padding: 100px 0;
}
.heading-title
{
	margin-bottom: 100px;
}
.post-slide .post-img{
    overflow: hidden;
}

.post-slide .post-img img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.9;
    transform: scale(1,1);
    transition:all 0.3s ease-in-out 0s;
}

.post-slide:hover .post-img img{
    transform: scale(1.2,1.2);
    filter:none;
    opacity:1;
}

.post-slide .post-content{
    padding: 20px 30px;
    position: relative;
    background: #fff;
}

.post-slide .post-date{
    min-width:28px;
    min-height:28px;
    line-height: 28px;
    text-align: center;
    background: #556677;
    position: absolute;
    top: -30px;
    left: 30px;
}

.post-slide .month{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 0 10px;
    background: #14bf9b;;
    text-transform: uppercase;
}

.post-slide .date{
    color: #fff;
    font-size: 14px;
}

.post-slide .post-title{
    margin: 20px 0;
}

.post-slide .post-title a{
    color:#14bf9b;
    font-size:22px;
    text-transform:capitalize;
    transition: all 0.50s ease 0s;
}

.post-slide .post-title a:hover{
    color:#333;
    text-decoration: none;
}

.post-slide .post-description{
    color: #999;
    font-size: 16px;
    line-height: 30px;
}

.post-slide .post-bar{
    padding: 15px 0;
    list-style: none;
    text-align: center;
    background: #14bf9b;
}

.post-slide .post-bar li{
    display: inline-block;
    margin-right: 5px;
}

.post-slide .post-bar li a{
    text-transform: capitalize;
    font-size: 12px;
    color: #fff;
    transition:0.2s ease;
}

.post-slide .post-bar li a:hover{
    text-decoration: none;
    color:#333;
}

.post-slide .post-bar li i{
    color:#fff;
    margin-right: 5px;
}
/* CSS Document */
/* 
 */
/* .post-slide{
    padding: 0 15px;
}
.demo
{
	padding: 100px 0;
}
.heading-title
{
	margin-bottom: 100px;
}
.post-slide .post-img{
    overflow: hidden;
}

.post-slide .post-img img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.9;
    transform: scale(1,1);
    transition:all 0.3s ease-in-out 0s;
}

.post-slide:hover .post-img img{
    transform: scale(1.2,1.2);
    filter:none;
    opacity:1;
}

.post-slide .post-content{
    padding: 20px 30px;
    position: relative;
    background: #fff;
}

.post-slide .post-date{
    min-width:28px;
    min-height:28px;
    line-height: 28px;
    text-align: center;
    background: #556677;
    position: absolute;
    top: -30px;
    left: 30px;
}

.post-slide .month{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 0 10px;
    background: #14bf9b;;
    text-transform: uppercase;
}

.post-slide .date{
    color: #fff;
    font-size: 14px;
}

.post-slide .post-title{
    margin: 20px 0;
}

.post-slide .post-title a{
    color:#14bf9b;
    font-size:22px;
    text-transform:capitalize;
    transition: all 0.50s ease 0s;
}

.post-slide .post-title a:hover{
    color:#333;
    text-decoration: none;
}

.post-slide .post-description{
    color: #999;
    font-size: 16px;
    line-height: 30px;
}

.post-slide .post-bar{
    padding: 15px 0;
    list-style: none;
    text-align: center;
    background: #14bf9b;
}

.post-slide .post-bar li{
    display: inline-block;
    margin-right: 5px;
}

.post-slide .post-bar li a{
    text-transform: capitalize;
    font-size: 12px;
    color: #fff;
    transition:0.2s ease;
}

.post-slide .post-bar li a:hover{
    text-decoration: none;
    color:#333;
}

.post-slide .post-bar li i{
    color:#fff;
    margin-right: 5px;
}
/* CSS Document */
/* 
 */

 #headHome{
    background-image: url('../../../assets/poster.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:400px;
    border-radius: 0px;
}
#headHome div{
    background: rgba(255,255,255,0.7);
    padding:30px;
}
#headHome h1{
    font-size: 3em;

}


/* Global */
 
/* CSS Document */

body{margin-top: 50px; margin-bottom: 100px;}

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}


.card-header{color:dodgerblue}


.container{
    padding-right:0px;
    padding-left: 0px;
    
}
.price{
    color:#25806E;
    font-weight: bold;
}
.detail{
    color: #CCFFBB;
    background-color: #25806E;
    border:0px;
    border-radius: 0px; 
}
.content:hover{
    box-shadow: 0px 0px 20px 0.1px #25806E;
}
.card-title{
    color:#005A04;
}
.header{
    border-top:solid 8px #25806E;
    background-color: #09C6A0;
    color:#005A04;
}