<div class="pricing-switcher">
  <p class="fieldset">
    <input type="radio" [(ngModel)]="duration_1" (change)="changeButton()" name="duration_1" value="monthly" id="monthly-1" checked>
    <label for="monthly-1">Monthly</label>
    <input type="radio" [(ngModel)]="duration_1" (change)="changeButton()" name="duration_1" value="yearly" id="yearly-1">
    <label for="yearly-1">Yearly</label>
    <span class="switch"></span>
  </p>
</div>

<div class="">
  <div class="row">
    <div class="col-md-4 dvCard">
      <div class="card">
        <div class="card-header">BASIC</div>
        <div class="card-body">
          <div id="price">
            <span id="dollar">Rs</span>
            <span id="number">{{duration.basic.number}}</span>
            <span id="state">/{{duration.basic.state}}</span>
          </div>

          <!-- ################# POINTS ################ -->
          <div>

            <div class="row">
              <div class="col-sm-2">
                <img width="50" src="assets/tick2.png" />
              </div>
              <div class="col-sm-10 line">{{duration.basic.l1}}</div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <img width="50" src="assets/tick2.png" />
              </div>
              <div class="col-sm-10 line">{{duration.basic.l2}}</div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <img width="50" src="assets/tick2.png" />
              </div>
              <div class="col-sm-10 line">{{duration.basic.l3}}</div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <img width="50" src="assets/tick2.png" />
              </div>
              <div class="col-sm-10 line">{{duration.basic.l4}}</div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <img width="50" src="assets/tick2.png" />
              </div>
              <div class="col-sm-10 line">{{duration.basic.l5}}</div>
            </div>

          </div>

          <!-- #################### POINTS END #############  -->


        </div>
        <div class="card-footer">
            <button (click)="selectPackage(duration.basic.key)" class="bttn-slant bttn-md bttn-success">SELECT</button>
          </div>
  
      </div>
    </div>

    <div class="col-md-4 dvCard">
        <div class="card">
          <div class="card-header">EXCLUSIVE</div>
          <div class="card-body">
            <div id="price">
              <span id="dollar">Rs</span>
              <span id="number">{{duration.exclusive.number}}</span>
              <span id="state">/{{duration.exclusive.state}}</span>
            </div>
  
            <!-- ################# POINTS ################ -->
            <div>
  
              <div class="row">
                <div class="col-sm-2">
                  <img width="50" src="assets/tick2.png" />
                </div>
                <div class="col-sm-10 line">{{duration.exclusive.l1}}</div>
              </div>
  
              <div class="row">
                <div class="col-sm-2">
                  <img width="50" src="assets/tick2.png" />
                </div>
                <div class="col-sm-10 line">{{duration.exclusive.l2}}</div>
              </div>
  
              <div class="row">
                <div class="col-sm-2">
                  <img width="50" src="assets/tick2.png" />
                </div>
                <div class="col-sm-10 line">{{duration.exclusive.l3}}</div>
              </div>
  
              <div class="row">
                <div class="col-sm-2">
                  <img width="50" src="assets/tick2.png" />
                </div>
                <div class="col-sm-10 line">{{duration.exclusive.l4}}</div>
              </div>
  
              <div class="row">
                <div class="col-sm-2">
                  <img width="50" src="assets/tick2.png" />
                </div>
                <div class="col-sm-10 line">{{duration.exclusive.l5}}</div>
              </div>
  
            </div>
  
            <!-- #################### POINTS END #############  -->
  
  
          </div>
          <div class="card-footer">
              <button (click)="selectPackage(duration.exclusive.key)" class="bttn-slant bttn-md bttn-success">SELECT</button>
            </div>
    
        </div>
      </div>


      <div class="col-md-4 dvCard">
          <div class="card">
            <div class="card-header">PRO</div>
            <div class="card-body">
              <div id="price">
                <span id="dollar">Rs</span>
                <span id="number">{{duration.pro.number}}</span>
                <span id="state">/{{duration.pro.state}}</span>
              </div>
    
              <!-- ################# POINTS ################ -->
              <div>
    
                <div class="row">
                  <div class="col-sm-2">
                    <img width="50" src="assets/tick2.png" />
                  </div>
                  <div class="col-sm-10 line">{{duration.pro.l1}}</div>
                </div>
    
                <div class="row">
                  <div class="col-sm-2">
                    <img width="50" src="assets/tick2.png" />
                  </div>
                  <div class="col-sm-10 line">{{duration.pro.l2}}</div>
                </div>
    
                <div class="row">
                  <div class="col-sm-2">
                    <img width="50" src="assets/tick2.png" />
                  </div>
                  <div class="col-sm-10 line">{{duration.pro.l3}}</div>
                </div>
    
                <div class="row">
                  <div class="col-sm-2">
                    <img width="50" src="assets/tick2.png" />
                  </div>
                  <div class="col-sm-10 line">{{duration.pro.l4}}</div>
                </div>
    
                <div class="row">
                  <div class="col-sm-2">
                    <img width="50" src="assets/tick2.png" />
                  </div>
                  <div class="col-sm-10 line">{{duration.pro.l5}}</div>
                </div>
    
              </div>
    
              <!-- #################### POINTS END #############  -->
    
    
            </div>
            <div class="card-footer">
                <button (click)="selectPackage(duration.pro.key)" class="bttn-slant bttn-md bttn-success">SELECT</button>
              </div>
      
          </div>
        </div>
      </div>

</div>